

.table-header-light-gradient {
    background: linear-gradient(to bottom, #cce5ff, #b8daff) !important; 
    color: #004085 !important; 
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.table-header-light-gradient th {
    padding: 12px !important;
    letter-spacing: 1px;
}

  
  
  .table {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .table th,
  .table td {
    text-align: center;
    vertical-align: middle;
  }
  
  .table tbody tr:hover {
    background-color: #f1f8ff; 
    transition: background-color 0.3s ease;
  }
  