<div class="container mt-5">
  <div class="row justify-content-center">
  
    <div class="col-md-4 col-sm-12 mb-4">
      <div class="card shadow-lg border-light rounded">
        <img src="client.png" class="card-img-top img-fluid" alt="Clients">
        <div class="card-body">
          <h5 class="card-title text-center text-primary">Gestion des Clients</h5>
          <p class="card-text text-center text-muted">Accédez à la gestion complète des clients.</p>
          <div class="text-center">
            <button class="btn btn-primary" routerLink="/clients">
              <i class="fas fa-users"></i> Voir les Clients
            </button>
          </div>
        </div>
      </div>
    </div>

   
    <div class="col-md-4 col-sm-12 mb-4">
      <div class="card shadow-lg border-light rounded">
        <img src="room.png" class="card-img-top img-fluid" alt="Chambres">
        <div class="card-body">
          <h5 class="card-title text-center text-primary">Gestion des Chambres</h5>
          <p class="card-text text-center text-muted">Gérez les chambres de votre hôtel.</p>
          <div class="text-center">
            <button class="btn btn-primary" routerLink="/chambres">
              <i class="fas fa-bed"></i> Voir les Chambres
            </button>
          </div>
        </div>
      </div>
    </div>

    
    <div class="col-md-4 col-sm-12 mb-4">
      <div class="card shadow-lg border-light rounded">
        <img src="reservation.png" class="card-img-top img-fluid" alt="Réservations">
        <div class="card-body">
          <h5 class="card-title text-center text-primary">Gestion des Réservations</h5>
          <p class="card-text text-center text-muted">Accédez à la gestion complète des réservations.</p>
          <div class="text-center">
            <button class="btn btn-primary" routerLink="/reservations">
              <i class="fas fa-calendar-check"></i> Voir les Réservations
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
